<BR /><BR /><BR />
<% @alunos.each do |aluno| %>
  <DIV>
    <%= image_tag aluno.image.url, :width=> 100, :height => 140 %>
    <% if avaliador_signed_in? and current_avaliador.admin %>
      <%= link_to aluno.nome, listagem_de_atividades_do_aluno_x_path(aluno.id),:id =>aluno %>
    <% elsif avaliador_signed_in? and current_avaliador.admin == false %>
      <%= link_to aluno.nome, "/atividades_de/#{aluno.nome}/#{aluno.id}",:id =>aluno %>
    <%- end -%>
    <BR /><BR />
  </DIV>
<% end %>

<div class="flickr_pagination">
	<div clas="page_info">
		<%= will_paginate @alunos, :previous_label => "&laquo; Anterior", :next_label => "Próxima &raquo;", :container => false%>
	</div>
</div>