<% if @alunos.empty? %>
	<div  height='150px'>
    <div id="alert">
      <%= t('messages.without_students') %>
    </div>
  </div> 
<% else %>
	<div><%= render :partial=>"alunos", :locals=>{:alunos=>@alunos}%></div>
<% end %>
