<% if @alunos.empty? %>
	<%= redirect_to avaliadores_index_path, :notice => t('messages.without_students') %>
<% else %>
	<div><%= render :partial=>"alunos", :locals=>{:alunos=>@alunos}%></div>
<% end %>
