<table class="table table-condensed table-hover">
    <thead>
       <tr>
          <th><div id="homeleft"><%= t('activerecord.attributes.modalidade.title')%></div></th>
          <% if avaliador_signed_in? and current_avaliador.admin %>
            <CENTER><th>OPCOES</th></CENTER>
            <th></th>
          <%-end-%>
        </tr>
     </thead>

     <tbody id="home">
        <% @modalidades.each do |modalidade| %>
          <tr>
            <td><div id="homeleft"><%= modalidade.title %></div></td>
            <td><center><%= link_to(t('links.edit'),edit_modalidade_path(modalidade.id)) %></center><center><%= link_to(t('links.destroyModel'), delete_modalidade_path(modalidade), :method => :delete, :confirm => t('messages.areyousure') ) %></center></td>
          </tr>
        <% end %>
      </tbody>
</table>