<style type="text/css">
  h1 {color:red;}
  p {color:blue;}
  #credenciais{
    display: block;
    text-align: left;
    text-indent: 20px;
  }
</style>
<div>
  <h1><%= t 'avaliador_mailer.new_avaliador_send_mail.title' %> </h1>
</div>

<div>
  <%= t 'avaliador_mailer.new_avaliador_send_mail.body', :user_name=> @user.nome, :link => link_to('atividadescomplementares.iff.edu.br', root_url) %>
</div>

<BR />
<p>-----------------------------------<br /></p>
<div id='credenciais'>
	<strong><%= t 'avaliador_mailer.new_avaliador_send_mail.credenciais', :email=> @user.email, :password => @user.password %></strong>
</div><br />
<p>-----------------------------------<br /></p>