/*
  Botoes e estruturas dos mesmos carregados a partir desse arquivo
  @group buttons
*/

/**
*
*
*
*
* Botao 
*
* CSS 
*
*
*  3
*
*
**/

.botao
{
    width: 130px;
    height: 54px;
    display:block;
    color: #4a4a4a;
    font-size: 17px;
    line-height: 54px;
    text-align:center;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
    text-transform:uppercase;
    text-decoration:none;
    border-radius: 0.7em;
    -moz-border-radius: 0.7em;
    -webkit-border-radius: 0.7em;

     background: -moz-linear-gradient(top, #DDDAE0 0%, #BEBEBE 100%); /* firefox */	
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDDAE0), color-stop(100%,#C8C6CA)); /* webkit */	
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDDAE0', endColorstr='#C8C6CA',GradientType=0 ); /* ie */
    background: -o-linear-gradient(top, #DDDAE0 0%,#C8C6CA 100%); /* opera */
    font-family: 'LibelSuitRegular';
}

.botao .luz 
{
    width: 130px;
    height: 25px;
    display:block;
    background: #fff;
    position:absolute;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    opacity:0.25;
    -moz-opacity: 0.25;
    filter: alpha(opacity=25);
}

.botao:hover 
{
    background: -moz-linear-gradient(top, #DDDAE0 0%, #EEE9E9 70%); /* firefox */	
    -webkit-box-shadow: 0px 0px 2px #8e8e8e;
    -moz-box-shadow: 0px 0px 2px #8e8e8e;
    box-shadow: 0px 0px 2px #8e8e8e;
}

a.botao
{
    width: 130px;
    height: 54px;
    display:block;
    color: #4a4a4a;
    font-size: 17px;
    line-height: 54px;
    text-align:center;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
    text-transform:uppercase;
    text-decoration:none;
    border-radius: 0.7em;
    -moz-border-radius: 0.7em;
    -webkit-border-radius: 0.7em;

     background: -moz-linear-gradient(top, #DDDAE0 0%, #BEBEBE 100%); /* firefox */ 
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDDAE0), color-stop(100%,#C8C6CA)); /* webkit */    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDDAE0', endColorstr='#C8C6CA',GradientType=0 ); /* ie */
    background: -o-linear-gradient(top, #DDDAE0 0%,#C8C6CA 100%); /* opera */
    font-family: 'LibelSuitRegular';
}

a.botao .luz 
{
    width: 130px;
    height: 25px;
    display:block;
    background: #fff;
    position:absolute;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    opacity:0.25;
    -moz-opacity: 0.25;
    filter: alpha(opacity=25);
}

a.botao:hover 
{
    background: -moz-linear-gradient(top, #DDDAE0 0%, #EEE9E9 70%); /* firefox */   
    -webkit-box-shadow: 0px 0px 2px #8e8e8e;
    -moz-box-shadow: 0px 0px 2px #8e8e8e;
    box-shadow: 0px 0px 2px #8e8e8e;
}

#id_botao
{
    position:relative;
    top: -70px;
    margin-left: 21%;
}

#id_botao2
{
    position:relative;
    top: -70px;
    margin-left: 50px;
}

.botao_left{float:left; margin-left: 9px;}


/*******/

.RegistrationStyle
{
    font:bold 17px Arial, Helvetica, sans-serif;
    text-align:left;
    background:#f2f2f2;
    border:0px solid #ffffff;
    text-shadow:-1px 1px 0px #fff;
    box-shadow:0px 0px 2px #000000;
    -moz-box-shadow:0px 0px 7px #000000;
    -webkit-box-shadow:0px 0px 7px #000000;
    border-radius:15px 15px 15px 15px;
    -moz-border-radius:20px 20px 20px 20px;
    -webkit-border-radius:20px 20px 20px 20px;
    width:140px;
    padding:10px 47px;
    cursor:cross;
    margin:0 auto;
}
a.RegistrationStyle {color:#000;}
a.RegistrationStyle:hover{color:red;}
.RegistrationStyle:active
{
    cursor:pointer;
    position:relative;
    top:2px;
}

/**
* Botao da caixa cinza quando logado
**/

div#FieldButton
{
    margin-left: 2.5px; 
    margin-top:-4%;
}

a.buttonx
{
    font:normal 22px Verdana, Geneva, sans-serif;
    font-style:normal;
    color:#000000;
    background:#f5f5f5;
    border:1px solid #bbb;
    text-shadow:4px -3px 6px #bababa;
    box-shadow:0px 1px 10px #d1cfd1;
    -moz-box-shadow:0px 1px 10px #d1cfd1;
    -webkit-box-shadow:0px 1px 10px #d1cfd1;
    border-radius:10px 10px 10px 10px;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    width:162px;
    padding:5px 26px;
    cursor:pointer;
    margin:0 auto;
    
}
a.buttonx:hover
{
    color:#f5f5f5;
    background:#228B22;
    border:2px solid #2e3436;
    text-shadow:2px -1px 2px #bababa;
}
a.buttonx:active
{
    cursor:pointer;
}

a.button
{
    font:normal 19px Verdana, Geneva, sans-serif;
    font-style:normal;
    color:#4F4F4F;
    background:#f5f5f5;
    border:1px solid #bbb;
    text-shadow:2px -2px 2px #bababa;
    text-align:center;
    box-shadow:0px 1px 10px #d1cfd1;
    -moz-box-shadow:0px 1px 10px #d1cfd1;
    -webkit-box-shadow:0px 1px 10px #d1cfd1;
    border-radius:10px 10px 10px 10px;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    width:62px;
    padding:5px 26px;
    cursor:pointer;
    margin:0 auto;
    float: left;
    position: relative;
    left: 199px;
    top: 25px;
}
a.button:hover
{
    color:#f5f5f5;
    background:#228B22;
    border:2px solid #2e3436;
}



/* Botão retangular Verde */
.botaoVerde {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4bd932), color-stop(1, #52b83b) );
    background:-moz-linear-gradient( center top, #4bd932 5%, #52b83b 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4bd932', endColorstr='#52b83b');
    background-color:#4bd932;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0;
    border:1px solid #268a16;
    display:inline-block;
    color:#eaf5e2;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:56px;
    line-height:56px;
    width:131px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #aade7c;
}
.botaoVerde:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #52b83b), color-stop(1, #4bd932) );
    background:-moz-linear-gradient( center top, #52b83b 5%, #4bd932 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#52b83b', endColorstr='#4bd932');
    background-color:#52b83b;
    color: black;
}.botaoVerde:active {
    position:relative;
    top:1px;
}
/*Fim do botão retangular verde */


/* Botao Azul retangular */
.botaoAzul {
    -moz-box-shadow:inset 0px 1px 0px 0px #b8dcf2;
    -webkit-box-shadow:inset 0px 1px 0px 0px #b8dcf2;
    box-shadow:inset 0px 1px 0px 0px #b8dcf2;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c1e2f7), color-stop(1, #adcae3) );
    background:-moz-linear-gradient( center top, #c1e2f7 5%, #adcae3 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1e2f7', endColorstr='#adcae3');
    background-color:#c1e2f7;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #d2e1f5;
    display:inline-block;
    color:#14396a;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:51px;
    line-height:51px;
    width:131px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #7cacde;
}
.botaoAzul:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #adcae3), color-stop(1, #c1e2f7) );
    background:-moz-linear-gradient( center top, #adcae3 5%, #c1e2f7 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#adcae3', endColorstr='#c1e2f7');
    background-color:#adcae3;
}.botaoAzul:active {
    position:relative;
    top:1px;
}
/* Fim do botao azul */