$serif-families: "Pacifico", "Georgia", serif;
$sans-serif-families: "Helvetica", sans-serif;

$error-text-color: #B94A48;
$success-text-color: #468847;

@mixin shadow($color, $x, $y, $radius){
	-moz-box-shadow: $color $x $y $radius;
	-webkit-box-shadow: $color $x $y $radius;
	box-shadow: $color $x $y $radius;
}

form {
	label {
		display: block;
		margin: 5px 0;
		color: #444;
	}
	input[type=text], input[type=password], textarea {
		color: #444;
		font-size: 12px;
		border: 1px solid #ccc;
		padding: 5px;
		width: 200px;
		outline: 0;
		@include shadow(rgba(0,0,0, 0.1), 0px, 0px, 8px);
		&:focus { border: 1px solid #c9c9c9; }
	}
	textarea {
		width: 400px;
		height: 200px;
	}
}

.field_with_errors {
	padding: 2px; 
	background-color: #f5f5f5; 
	display: inline; 
	label { color: $error-text-color; }
	input[type=text], input[type=password], textarea {
		border: 2px solid rgba(189,74,72, 0.5);
		@include shadow(rgba(189,74,72, 0.2), 0px, 0px, 8px);
		&:focus { border: 1px solid rgba(189,74,72, 0.6); }
	}
}

.error_message {
	margin-left: 5px;
	display: inline;
	color: $error-text-color;
}

.padded_flash {
	padding: 10px;
	margin: 10px 0;
	font-weight: bold;
	width: 500px;
}

#error_explanation {
	border: 1px solid $error-text-color;
	color: $error-text-color;
	background-color: #F2DEDE;
	@extend .padded_flash;
}

#notice {
	color: $success-text-color;
	border: 1px solid $success-text-color;
	@extend .padded_flash;
	background-color: #DFF0D8;
}

#alert {
	color: $error-text-color;
	border: 1px solid $error-text-color;
	@extend .padded_flash;
	background-color: #F2DEDE;
}