$serif-families: "Pacifico", "Georgia", serif;
$sans-serif-families: "Helvetica", sans-serif;

$error-text-color: #B94A48;
$success-text-color: #468847;

@mixin shadow($color, $x, $y, $radius){
	-moz-box-shadow: $color $x $y $radius;
	-webkit-box-shadow: $color $x $y $radius;
	box-shadow: $color $x $y $radius;
}

form {
	label {
		margin: 5px 0;
		color: #444;
	}
	input[type=text], input[type=email],  input[type=password], textarea {
		color: #444;
		font-size: 20px;
		padding: 5px;
		width: 200px;
		outline: 0;
		@include shadow(rgba(0,0,0, 0.1), 0px, 0px, 8px);
		&:focus { border: 1px solid #c9c9c9; }
	}
	textarea {
		width: 400px;
		height: 200px;
	}
}

.field_with_errors {
	padding: 2px; 
	background-color: #fff; 
	display: inline; 
	label { color: $error-text-color; }
	input[type=text], , input[type=email], input[type=password], textarea {
		border: 2px solid rgba(189,74,72, 0.5);
		@include shadow(rgba(255,84,72, 0.2), 0px, 0px, 8px);
		&:focus { border: 1px solid rgba(189,74,72, 0.6); }
	}
}

.error_message {
	margin-left: 5px;
	display: inline;
	color: $error-text-color;
}

.padded_flash {
	padding: 10px;
	margin: 10px 0;
	font-weight: bold;
	width: 1150px;
}

#error_explanation {
	border: 1px solid $error-text-color;
	color: $error-text-color;
	background-color: #F2DEDE;
	@extend .padded_flash;
}

#notice {
	color: $success-text-color;
	border: 1px solid $success-text-color;
	@extend .padded_flash;
	background: #DFF0D8 url(../images/tick.png) no-repeat 5px center;
	margin: 10px 0;
	text-align: center;
}

#alert {
	color: $error-text-color;
	border: 1px solid $error-text-color;
	@extend .padded_flash;
	background: #F2DEDE url(../images/error.png) no-repeat 5px center;
	margin: 10px 0;
	text-align: center;
}

#cancelaccount { margin-left: 42%;}


.error, .alert, .notice, .success, .info 
{
	padding:0.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

.error, .alert 
{
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  line-height:30px; 
  text-indent: 50px;
  background:#fbe3e4 url('../images/error.png') no-repeat 15px center;
  color:#8a1f11;
  border-color:#fbc2c4;
}

.notice 
{
	
	background:#fff6bf;
	color:#514721;
	text-align: center;
	text-ident: 30px;
	border-color:#ffd324;
	
}

div.notice{ position: relative; left: -50px;}

.success 
{
	background:#e6efc2;
	color:#264409;
	border-color:#c6d880;
}

.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}