
.pesquisar
{
  background-color:#f2f2f2;
  width:600px;
  margin:10px 0 10px 0;
  text-align:center;
}

form input
{
  background-color:#f2f2f2;
  margin:10px 0 10px 0;
}

form p
{
  padding:12px;
}

form p label
{
  color:#333;
  font-weight:900;
}

form input
{
  padding:6px;
  border:1px solid #ccc;
}

#fileField
{
  width:500px; 
}

.pagedisplay
{
  width:40px;
  text-align:center;
  border:none;
  background-color:#f2f2f2;
  font-weight:900;
}

#pager span
{
  font-weight:900;
  display:inline-block;
  margin:0 0 0 20px;
  color:#666;
  float:right;
}

#pager form
{
  text-align:left;
  padding:10px;
  width:580px;
}

/*#MyAtividades
{
    margin-left:0.2%;
}*/

table#home 
{ 
    background:#D3E4E5;
    border:1px solid gray;
    border-collapse:collapse;
    font:normal 10px verdana, arial, helvetica, sans-serif;
}

table#home.avaliacoes
{
    width: 1150px;
    height: 90px;
    font-size: 14px;
} 

caption 
{ 
    border:1px solid #B5B5B5;
    color:#5C443A;
    font-weight:bold;
    letter-spacing:10px;
    padding:6px 4px 8px 0px;
    text-align:center;
    font-size:12px;
    text-transform:uppercase;
}

table#bottom
{
    font-size:10px;
    letter-spacing:4px;
    width:100%;
}

table#home #bottom caption{ letter-spacing:2px;}

table#home td, th { font-weight:bold; color: #363636; padding:.4em; text-align:center; font-size: 12px;}
td#td1 { font-size: 14px; text-align:center;}
#td1-size{margin-left:2px;}

table#home tr#home { border:1px dotted gray; }

table#home thead th, tfoot th
{ 
    background:#8B4726;
    color:#FFFFFF;
    padding:3px 10px 3px 10px;
    text-align:center;
    text-transform:uppercase;
    font-size: 13px;
}

table#home tbody tr th, tbody tr td  
{
  padding: 6px;
  border: solid 1px #666666;
}


table#home tbody td a 
{ 
    color:#363636;
    text-decoration:none;
}

table#home tbody td a:visited 
{ 
    color:gray;
    text-decoration:line-through;
}

table#home tbody td a:hover 
{ 
    text-decoration:underline;
}

table#home tbody th a 
{ 
    color:#363636;
    font-weight:normal;
    text-decoration:none;
}

table#home tbody th a:hover 
{ 
    color:#363636;
}

table#home tbody td+td+td+td a 
{ 
    
    background-position:left center;
    background-repeat:no-repeat;
    color:#03476F;
    font-weight:bold;
    padding-left:19px;
}

table#home tbody td+td+td+td a:visited 
{   
    
    background-position:left center;
    background-repeat:no-repeat;
}

table#home tbody th, tbody td { text-align:left; vertical-align:top; }

table#home tfoot td { background:#5C443A; color:#FFFFFF; padding-top:3px; }

.odd { background:#fff; }

table#home tbody tr#home:hover 
{ 
    background:#99BCBF;
    border:1px solid #B5B5B5;
    color:#000000;
}

