<%if  @aluno.atividades.empty? %>
        <div class="infobar" >
                <center id="navx">
                    <%= @aluno.nome %> não possui atividades.
                    <%= link_to "Voltar", total_alunos_path, :alt=>"voltar para a pagina anterior" %>
                </center>
        </div>
<% else %>
    <%= render :partial=>"atividades_do_aluno_x", :locals=>{:atividades=>@atividade_aluno}%>
<% end %>

